/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas{
  width:100%!important;
  height:100%;
} */
#terminal-div{
  text-align: left;
}

#terminal-title{
  text-align: center;
}

#terminal-text{
  white-space: pre-wrap;
  background-color: #1E1E1E;
  height: 100vh;
  padding-left: 5px;
  padding-top: 5px;
  overflow: scroll;
}

.focus{
  border: 0.01em solid blue;
}

.term-caret {
  display: inline-block;
  color: white;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
.blink {
  color: transparent;
}
